@media only screen and (max-width: 769px){
	 /* ... parallax styles ... */
	.parallax {
		scroll-behavior: smooth;
	}
  	@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
		  /* demo styles
		  --------------------------------------------- */

		  body {
		    font: 120% / 1.5 Arial;
		    scroll-behavior: smooth;

		  }

		  * {
		    box-sizing: border-box;
		    margin: 0;
		    padding: 0;
		  }

		  h1, p {
		  }

		  body > svg {
		    display: none;
		  }


		  /* demo nav bar
		  --------------------------------------------- */

		  .nav {
		    position: fixed;
		    margin-left: 100vw;
		    margin-top: 50vw;
		    transform: translate(-100%, -50%;);
		    display: block !important;
		    z-index: 100;
		    text-align: right;
		    width: 150px !important;

		  }
		  .nav li {
		  	width: 100%;
		    list-style: none;
		    margin: .5em;
		  }
		  .nav a {
		  	width: 100%;
		    display: inline-block;
		    padding: .5em 1em;
		    color: #fff;
		    border-radius: 3px;
		    background: rgba(0,0,0,.6);
		  }
		  .nav a:hover{
		    text-decoration: none;
		    color: whitesmoke;
		    text-shadow: 0px 0px 2px beige
		  }


		  /* slide layout
		  --------------------------------------------- */
		#pngFront{
			display: block;
		    height: auto;
		    width: 80vw;
		    z-index: 1;
		}
		/*- Slide 2 -*/
		#slide-2{
			width: 100vw;
			padding-top: 75px;
			padding-bottom: 75px;
		}
		#slide-2 .slide__bg {
			width: 100vw;
			height: 50vh;
		    background: url(../diseño/img/bajaInversion.png);
		    background-size: 100vw auto;
		    background-position: top;
		    background-repeat: no-repeat;
		    z-index: 1;
		  }
  		#slide-2 .slide__content{
			display: block;			
		}
		#slide-2-title{
			height: auto;
			background-color: #3b2314;
			font-size: 100%;
			margin: 0 !important;
			padding: 1.5em;
			max-height: 100%;
			width: 100%;
			text-align: center;
			font-family: 'Permanent Marker', cursive;
			color: beige;
			text-shadow: 0px 0px 2px whitesmoke;
		}
	  /*- Slide 3 -*/
		#slide-3{
		}
		#sContent3{
			height: 100%;
			display: flex;
		}
		.slide__left{
			order: 1;
			z-index: 1;
			width: 30vw;
			height: 100%;
		}
			.slide__left img{
				transform: translate(-15%,0%);
				z-index: 1;
				/*width: 100%;
				max-height: 100vh;*/
				height: 100vw;
				width: auto;
			}
		.slide__right{
			display: flex;
			background: white;
			z-index: 2;
			order: 2;
			width: 70vw;
			align-items: center;
		}
			.slide__right h1,h2,h3{
				text-align: center;
			}
			.slide__right h1{
				font-size: 150%;
			}
			.slide__right h2{
				font-size: 80%;
			}
			.slide__right h3{
				font-size: 60%;
			}
		.flex{
			display: flex;
			align-items: center;
			justify-content: center;
		}
			.flex img{
				width: 65vw;
				height: auto;
			}

		.block{
			display: block;
			width: 100%;
			height: auto;
		}

		/*- Slide 3 o 5 -*/
		#slide-5{
			width: 100vw;
			height: 80vh;
			display: flex;
			justify-content: center;
		}
			#slide-5 .slide__bg {
				height: 80vh;
				width: 100vw;
				display: block;
				float: left;
			    background-image: radial-gradient(circle at 50% 35% , #e8c295 0%, #3c2213 50%, #3c2213 95%);
			    z-index: 1;
			 }
			#slide-5  .slide__content{
				display: block;
				float: right;
				position: absolute;
				width: 100%;
				height: 80vh;
				z-index: 100;
			}
				.slide__title{
					color: beige;
					font-family: 'Permanent Marker', sans-serif;
					padding-top: 50px;
					padding-bottom: 50px;
					/*height: 100%;*/
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
				}
			#solicitud{
				font-size: 150%;
				text-align: center;
				font-family: 'Permanent Marker', sans-serif !important;
			}
			#solicitud:hover{
				font-family: 'Permanent Marker', sans-serif;
				cursor: pointer;
				color: beige;
				text-shadow: 0px 0px 2px whitesmoke;
			}
			#slide__img{
				width: 100vw;
				height: 56vh;
				background: url(../diseño/img/importa.png);
			    background-size: 100vw auto;
			    background-position: top;
			    background-repeat: no-repeat;
			    z-index: 100;
			}

	}
}
 
